.canvas {
  background: #eee;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50px;
  margin-top: 5px;
}
.toolbar {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
}

.select {
  margin-right: 5px;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}

.color-picker {
  margin-right: 5px;
  padding: 15px 32px;
  font-size: 16px;
  background-color: #df4b26;
  color: #df4b26;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}
